.btn {
    font-size: 3rem;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
}

.btn:hover {
    cursor: pointer;
}

.btn1 {
    background-color: aqua;
    color:purple;
}

.btn1:hover {
    background-color: rgb(137, 255, 255);
}

.btn2 {
    background-color: purple;
    color:aqua;
}

.btn2:hover {
    background-color: rgb(179, 0, 179);
}